.footer {
  height:10%;  
  margin-bottom: 0;
 
  background:rgb(246, 247, 249);
  text-align: center;
}
.footerLinks {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.footer h4{
  margin:5px 0;
  display: inline-block;
  color: #0642bbb9;
}

.footerLinks a{
  margin: 2px 20px;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none;
  color: rgb(93, 93, 94);
}

.footerLinks a:hover{
  color: #0583f2 ;
}

@media screen and (max-width: 768px) {

  .footerLinks a{
    flex: 1 0 30%;
    margin: 2px; 
  }
}